.weather-container {
    max-width: 500px;
    padding: 40px;
    border-radius: 10px;
    background-color: #2f4680;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.search-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search-input {
    height: 50px;
    padding: 10px 0 10px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temprature {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}

.city {
    color: #fff;
    font-size: 40px;
}

.weather-data {
    width: 100%;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #fff;
}

.weather-data .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.weather-data .col span {
    display: block;
    font-size: 12px;
    margin-top: -5px;
}

.weather-data .col img {
    width: 25px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .weather-container {
        max-width: 250px;
        width: 100%;
        padding: 20px;
    }

    .search-bar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .search-btn {
        width: 100%;
        border-radius: 30px;
    }
}
