@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/snow-background.jpg');
    background-size: cover;
    position: relative;
}

.app::after {
    content: '';
    position: absolute;
    background-color: rgb(0 0 0 / 0.3);
    inset: 0;
}
